<div class="header">
  <div class="container">
    <div class="row">
      <div class="menu col-xs-12">
        <ul class="nav nav-justified">
          <li><a href="/">Welcome</a></li>
          <li><a href="portfolio">Portfolio</a></li>
          <li><a href="https://medium.com/about-codecademy">Blog</a></li>
          <li><a href="about">About</a></li>
          <li><a href="contact">Contact</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="main home">
  <div class="jumbotron">
    <div class="container">
      <h2>Hello. My name is <span class="highlight">AdevaS</span> and I am a ruby developer. I have also worked as a Quality Assurance Analyst for over 8 years.</h2>
      <a class="btn right" href="portfolio">View my Work</a>
    </div>
  </div>
</div>

<div class="footer">
  <div class="container">
    <ul class="social_media">
      <li><a class="github" href="#"></a></li>
      <li><a class="linkedin" href="#"></a></li>
      <li><a class="twitter" href="#"></a></li>
    </ul> <p>© 2015 AdevaS TI</p>
  </div>
</div>